{{#each posts as |post| }}
<div class="card col-12 m-3">
    <div class="card-body">
        <a href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
        <h6 class="card-subtitle mb-2 text-muted">By: {{post.user.name}}</h6>
        <p class="card-text">Date posted: {{format_date post.date_created}}</p>
    </div>
</div>
{{/each}}